<div id="resume-content">
    <div id="resume-col-left">
        <section class="resume-item">
            <h2 class="resume-heading" [innerHTML]="'resume.content.personal_summary.heading' | translate"></h2>
            <hr class="resume-heading-hr" />
            <p [innerHTML]="'resume.content.personal_summary.text' | translate"> </p>
        </section>

        <section class="resume-item">
            <h2 class="resume-heading" [innerHTML]="'resume.content.experience.heading' | translate"></h2>
            <hr class="resume-heading-hr" />
            <ul>
                <li>
                    <span [innerHTML]="'resume.content.experience.li.capgemini.heading' | translate"></span>
                    <br />
                    <span [innerHTML]="'resume.content.experience.li.capgemini.text' | translate"></span>
                </li>
                <li>
                    <span [innerHTML]="'resume.content.experience.li.pwt.heading' | translate"></span><br />
                    <span [innerHTML]="'resume.content.experience.li.pwt.text' | translate"></span>
                </li>
                <li>
                    <span [innerHTML]="'resume.content.experience.li.the_valley.heading' | translate"></span><br />
                    <span [innerHTML]="'resume.content.experience.li.the_valley.text' | translate"></span>
                </li>
                <li>
                    <span [innerHTML]="'resume.content.experience.li.cinnovate.heading' | translate"></span>
                    <br />
                    <span [innerHTML]="'resume.content.experience.li.cinnovate.text' | translate"></span>
                </li>
            </ul>
        </section>

        <section class="resume-item">
            <h2 class="resume-heading" [innerHTML]="'resume.content.education.heading' | translate"></h2>
            <hr class="resume-heading-hr" />
            <p>
                <span [innerHTML]="'resume.content.education.windesheim.heading' | translate"></span>
                <br />
                <span [innerHTML]="'resume.content.education.windesheim.text' | translate"></span>
            </p>
        </section>

    </div>

    <div id="resume-col-right">
        <section class="resume-item">
            <h2 class="resume-heading" [innerHTML]="'resume.content.skills.heading' | translate"></h2>
            <hr class="resume-heading-hr" />
            <ul>
                <li [innerHTML]="'resume.content.skills.li.java' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.csharp' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.ruby' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.php' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.javascript' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.scripting' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.c' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.cicd' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.sql' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.docker' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.agile' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.uml' | translate"></li>
                <li [innerHTML]="'resume.content.skills.li.elk' | translate"></li>
            </ul>
        </section>

        <section class="resume-item">
            <h2 class="resume-heading" [innerHTML]="'resume.content.languages.heading' | translate"></h2>
            <hr class="resume-heading-hr" />
            <ul>
                <li [innerHTML]="'resume.content.languages.li.dutch' | translate"></li>
                <li [innerHTML]="'resume.content.languages.li.english' | translate"></li>
                <li [innerHTML]="'resume.content.languages.li.chinese' | translate"></li>
            </ul>
        </section>

        <section class="resume-item">
            <h2 class="resume-heading" [innerHTML]="'resume.content.interests.heading' | translate"></h2>
            <hr class="resume-heading-hr" />
            <p [innerHTML]="'resume.content.interests.content.free_time' | translate"></p>
            <p [innerHTML]="'resume.content.interests.content.learning' | translate"></p>
        </section>
    </div>
</div>
