@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style-type: "";
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Montserrat";
  color-scheme: light;
  color: rgb(20, 20, 20);
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100%;
  display: grid;
  place-items: start center;
  padding: 2rem 1rem;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    background: none;
    padding: 0;
    display: block;
    min-height: auto;
  }

  a {
    text-decoration: none;
  }
}

.main {
  width: 210mm;
  min-height: 297mm;

  background: white;
  box-shadow: 0 0.75rem 2.5rem rgba(0, 0, 0, 0.08);
  border-radius: 0.375rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: 75mm 1fr;
}

.left {
  grid-column: 1;
}

.right {
  grid-column: 2;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.sidebarTop {
  padding: 2.5rem 2rem 1.75rem;
  display: grid;
  gap: 1.125rem;
  align-content: start;
  justify-items: center;
}

.avatar {
  width: 100%;
  height: 13.75rem;
  padding: 0 0.75rem;
  object-fit: cover;
  border-radius: 0.125rem;
}

.name {
  font-size: 2.25rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  line-height: 1.05;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.title {
  font-size: 0.8125rem;
  letter-spacing: 0.28em;
  text-transform: uppercase;
  opacity: 0.75;
  text-align: center;
  padding-bottom: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  margin: 0;
}

.sidebarBlock {
  padding: 1.75rem 2rem 1.75rem 2.5rem;
}

.sidebarHeading {
  font-size: 1.125rem;
  letter-spacing: 0.28em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 0.875rem;
}

.contactLine {
  font-size: 0.8125rem;
  line-height: 1.8;
  margin: 0 0 0.25rem;
}

.skillsList {
  display: grid;
  gap: 0.625rem;
  padding-left: 1.1rem;
  margin: 0;
}

.skillsItem {
  font-size: 0.8125rem;
  line-height: 1.6;
  opacity: 0.85;
}

.contentBlock {
  padding: 2.5rem 2.75rem 2rem 2.75rem;
}

.contentBlock:first-child {
  padding-top: 3rem;
}

.contentHeading {
  font-size: 1rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 0.875rem;
  position: relative;
}

.contentHeading::before {
  content: "";
  position: absolute;
  left: -2.75rem;
  top: 50%;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  background-color: white;
}

.body,
.right li {
  font-size: 0.8125rem;
  line-height: 1.85;
  color: rgba(0, 0, 0, 0.78);
  margin: 0;
}

.experienceList {
  display: grid;
  gap: 1.125rem;
  padding-left: 1.25rem;
  margin: 0;
}

.roleLine {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.8125rem;
  margin: 0 0 0.375rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 53.75rem) {
  .main {
    grid-template-columns: 1fr;
    width: 100%;
    min-height: 100%;
  }

  .left,
  .right {
    grid-column: 1;
    border-left: none;
    border-right: none;
  }

  .avatar {
    height: unset;
    width: unset;
    max-height: 25rem;
    max-width: 100%;
  }

  .contentHeading::before {
    display: none;
  }

  .sidebarTop,
  .sidebarBlock,
  .contentBlock {
    padding: 1.75rem 2rem;
  }
}

@media print {
  .main {
    box-shadow: unset;
  }
}
