<div id="header">
    <div id="header-txt">
        <h1>Jor Sanders</h1>
        <h2 class="subheading primary-color" [innerHTML]="'resume.header.function' | translate"></h2>
        <section id="contact-info">
            <div class="contact-item">
                <img class="icon" src="assets/mail.svg" alt="" />
                <a target="_blank" rel="noopener noreferrer" [href]="'resume.header.contact.email.href' | translate"
                    [innerHTML]="'resume.header.contact.email.text' | translate"></a>
            </div>

            <div class="contact-item ">
                <img class="icon" src="assets/phone.svg" alt="" />
                <span class="print-hidden" [innerHTML]="'resume.header.contact.phone.text' | translate"></span>
                <span class="print-only" [innerHTML]="'resume.header.contact.phone.print' | translate"></span>
            </div>

            <div class="contact-item">
                <img class="icon" id="location" src="assets/location.svg" alt="" />
                <span [innerHTML]="'resume.header.contact.location.text' | translate"></span>
            </div>

            <div class="contact-item">
                <img class="icon" src="assets/web.svg" alt="" />
                <a target="_blank" rel="noopener noreferrer" [href]="'resume.header.contact.website.href' | translate"
                    [innerHTML]="'resume.header.contact.website.text' | translate"></a>
            </div>

            <div class="contact-item">
                <img class="icon" src="assets/linkedin.svg" alt="" />
                <a class="print-hidden" target="_blank" rel="noopener noreferrer"
                    [href]="'resume.header.contact.linkedin.href' | translate"
                    [innerHTML]="'resume.header.contact.linkedin.text' | translate"></a>
                <span class="print-only" [innerHTML]="'resume.header.contact.linkedin.print' | translate"></span>
            </div>

            <div class="contact-item">
                <img class="icon" src="assets/github.svg" alt="" />
                <a class="print-hidden" target="_blank" rel="noopener noreferrer"
                    [href]="'resume.header.contact.github.href' | translate"
                    [innerHTML]="'resume.header.contact.github.text' | translate"></a>
                <span class="print-only" [innerHTML]="'resume.header.contact.github.print' | translate"></span>
            </div>
        </section>
    </div>
    <img id="header-picture" src="assets/profile.jpg" alt="Picture Jor" />
</div>
