<div id="header">
    <div id="header-txt">
        <h1>Jor Sanders</h1>
        <h2 class="subheading primary-color">Back-end Web Developer</h2>
        <section id="contact-info">
            <div class="contact-item">
                <img class="icon" src="assets/mail.svg" alt="" />
                <a href="mailto:contact@jor.dev" target="_blank" rel="noopener noreferrer">contact@jor.dev</a>
            </div>

            <div class="contact-item ">
                <img class="icon" src="assets/phone.svg" alt="" />
                <span class="print-hidden">+31-6-xxxxxxxx
                    <!-- Masked my phone number here to make bots not scan my phone number too easily. If you found my phone number here or print layout, you deserve it-->
                </span>
                <span class="print-only">
                    +31-6-22725596
                </span>
            </div>

            <div class="contact-item">
                <img class="icon" id="location" src="assets/location.svg" alt="" />
                Amsterdam
            </div>

            <div class="contact-item">
                <img class="icon" src="assets/web.svg" alt="" />
                <a href="https://jor.dev">jor.dev</a>
            </div>

            <div class="contact-item">
                <img class="icon" src="assets/linkedin.svg" alt="" />
                <span class="print-hidden">
                    <a href="https://www.linkedin.com/in/jor-sanders/" target="_blank"
                        rel="noopener noreferrer">LinkedIn</a>
                </span>
                <span class="print-only">
                    LinkedIn.com/in/jor-sanders
                </span>
            </div>

            <div class="contact-item">
                <img class="icon" src="assets/github.svg" alt="" />
                <span class="print-hidden">
                    <a href="https://github.com/jorsanders" target="_blank" rel="noopener noreferrer">Github</a>
                </span>

                <span class="print-only">
                    Github.com/JorSanders
                </span>
            </div>
        </section>
    </div>
    <img id="header-picture" src="assets/profile.jpg" alt="Picture Jor" />
</div>
