<div class="main-container">
  <div class="container">
    <div id="header">
      <div id="header-txt">
        <h1>Jor Sanders</h1>
        <h2 class="subheading primary-color">Web-, and Backend Developer</h2>
        <div id="contact-info">
          <div class="contact-item"><img class="icon" src="assets/mail.svg" /><a
              href="contact@jor.dev">contact@jor.dev</a>
          </div>
          <div class="contact-item-spacer"></div>
          <div class="contact-item"><img class="icon" src="assets/phone.svg" /><a
              href="tel:+31-6-xxxxxxxx">06-xxxxxxxx</a>
          </div>
          <div class="contact-item-spacer"></div>
          <div class="contact-item"><img class="icon" src="assets/location.svg" />Amsterdam</div>
          <div class="contact-item-spacer"></div>
          <div class="contact-item"><img class="icon" src="assets/web.svg" /><a href="jor.dev">jor.dev</a></div>
          <div class="contact-item-spacer"></div>
          <div class="contact-item"><img class="icon" src="assets/linkedin.svg" /><a
              href="https://www.linkedin.com/in/jor-sanders/">LinkedIn</a></div>
          <div class="contact-item-spacer"></div>
          <div class="contact-item"><img class="icon" src="assets/github.svg" /><a
              href="https://github.com/jorsanders">Github</a></div>
        </div>
      </div>
      <div id="header-picture">
        <img class="pic" src="assets/profile.png" alt="Picture Jor" />
      </div>
    </div>

    <div id="resume-content">
      <div class="resume-col" id="resume-col-left">
        <div class="resume-item">
          <h2 class="resume-heading">Personal Summary</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
          </p>
        </div>

        <div class="resume-item">
          <h2 class="resume-heading">Experience</h2>
          <hr>
          <ul>
            <li>Capgemini</li>
            <li>Perfect Web Team</li>
            <li>The Valley</li>
            <li>Cinnovate</li>
          </ul>
        </div>

        <div class="resume-item">
          <h2 class="resume-heading">Education</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
          </p>
        </div>

      </div>
      <div id="resume-col-spacer">

      </div>
      <div class="resume-col" id="resume-col-right">
        <div class="resume-item">
          <h2 class="resume-heading">Skills</h2>
          <hr>
          <ul>
            <li><b>Java, Spring Boot</b> Developed enterprise Applications</li>
            <li><b>Ruby, Rails</b> Developed enterprise Applications</li>
            <li><b>Php, Laravel, Joomla!</b> Developed enterprise Applications</li>
            <li><b>C#, .NET Core, Umbraco</b> Developed enterprise Applications</li>
            <li><b>Javascript, TypeScript, Angular, Stencil, jQuery</b> Collaborated with Frontend Colleagues</li>
            <li><b>Python, Bash, Go</b> Used for scripting</li>
            <li><b>Gitlab CI/CD, Jenkins, Github workflows</b> Setup and further developing pipelines</li>
          </ul>
        </div>

        <div class="resume-item">
          <h2 class="resume-heading">Languages</h2>
          <hr>
          <ul>
            <li>Dutch</li>
            <li>English</li>
            <li>Chinese(mandarin)</li>
          </ul>
        </div>

        <div class="resume-item">
          <h2 class="resume-heading">Interests</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
