<div class="main-container">
  <div class="container">
    <div id="header">
      <div id="header-txt">
        <h1>Jor Sanders</h1>
        <h2 class="subheading primary-color">Web-, and Backend Developer</h2>
        <div id="contact-info">
          <div class="contact-item"><img class="icon" src="assets/mail.svg" alt="" />
            <a href="mailto:contact@jor.dev" target="_blank" rel="noopener noreferrer">contact@jor.dev</a>
          </div>
          <div class="contact-item-spacer"></div>
          <div class="contact-item"><img class="icon" src="assets/phone.svg" alt="" />
            <a href="tel:+31-6-xxxxxxxx" target="_blank" rel="noopener noreferrer">06-xxxxxxxx</a>
          </div>
          <div class="contact-item-spacer"></div>
          <div class="contact-item"><img class="icon" src="assets/location.svg" alt="" />Amsterdam</div>
          <div class="contact-item-spacer"></div>
          <div class="contact-item"><img class="icon" src="assets/web.svg" alt="" />
            <a href="https://jor.dev" target="_blank" rel="noopener noreferrer">jor.dev</a>
          </div>
          <div class="contact-item-spacer"></div>
          <div class="contact-item"><img class="icon" src="assets/linkedin.svg" alt="" />
            <a href="https://www.linkedin.com/in/jor-sanders/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
          </div>
          <div class="contact-item-spacer"></div>
          <div class="contact-item"><img class="icon" src="assets/github.svg" alt="" />
            <a href="https://github.com/jorsanders" target="_blank" rel="noopener noreferrer">Github</a>
          </div>
        </div>
      </div>
      <img id="header-picture" src="assets/profile.png" alt="Picture Jor" />
    </div>

    <div id="resume-content">
      <div class="resume-col" id="resume-col-left">
        <div class="resume-item">
          <h2 class="resume-heading">Personal Summary</h2>
          <hr>
          <p>I am a 25 year old software developer. Mainly specialized in back-end web development, besides back-end
            work I enjoy working on a wide range of subjects. One of the skills I take pride in is to be able to explain
            technical concepts in layman's terms. Because of this I have often been asked by colleagues to collaborate
            with them on a wide variety of items. E.g. Frontend, CI/CD automation, Database Administration, Linux Server
            Management and incident response. In this way I see myself as a real <b class="primary-color">team
              player</b> who is always ready to help others out.
          </p>
        </div>

        <div class="resume-item">
          <h2 class="resume-heading">Experience</h2>
          <hr>
          <ul>
            <li><b>Capgemini</b> (11/2019 - 5/2022). During this time I have worked as a backend developer on
              <b class="primary-color">DigiD</b> for <b>Logius</b>. This was my first experience at a Large Company. I
              noticed that fairly quickly I got the hang of it. And from asking questions transitioned to answering
              them. Started to gain more responsibilities and work on the more complex subjects. The thing I am most
              proud of is unofficially becoming the first point of contact from the Ops teams when they needed help from
              the development teams.
            </li>
            <li><b>Perfect Web Team</b> (2/2017 8/2019). In 2017 I started with an internship at Perfect Web Team. After
              this I started to work part-time during my studies as a backend developer, mostly during school holidays.
              In 2019 I did a second internship and after graduating I worked for another two months before looking for
              a new challenge.
            </li>
            <li><b>The Valley</b> (9/2018 1/2019). During this internship I worked in a Scrum team, together we
              re-designed and rebuilt the website <a href="https://www.fcutrecht.nl/" target="_blank"
                rel="noopener noreferrer">fcutrecht.nl</a>.</li>
            <li><b>Cinnovate</b> (9/2017 1/2018). In a team of interns we build a C# Library for <a
                href="https://www.pozyx.io/" target="_blank" rel="noopener noreferrer">Pozyx</a>. Pozyx is hardware used
              for indoor location tracking.
              Cinnovate used this indoor location tracking for some of their projects, mainly a self driving
              wheelchair.
            </li>
          </ul>
        </div>

        <div class="resume-item">
          <h2 class="resume-heading">Education</h2>
          <hr>
          <p><b><span class="primary-color">HBO-ICT</span> at Windesheim Flevoland</b> (8/2015 6/2019) is where I
            graduated. During the first year of the study we learned a basis of IT skills. From the 2nd year onwards we
            got to apply that knowledge at internships. I have done 5 internships of each half a year. Which gave me a
            lot of experience working with different technologies, companies and people. During this study I have also
            done a Minor, I chose to do this abroad, studying for half a year at Wenzhou University in China.
          </p>
        </div>

      </div>

      <div class="resume-col" id="resume-col-right">
        <div class="resume-item">
          <h2 class="resume-heading">Skills</h2>
          <hr>
          <ul>
            <li><b>Java, <span class="primary-color">Spring Boot</span></b> Developed enterprise Applications</li>
            <li><b>C#, .NET Core, Umbraco</b> Developed enterprise Applications</li>
            <li><b>Ruby, Rails</b> Developed enterprise Applications</li>
            <li><b>Php, Laravel, Joomla!</b> Developed enterprise Applications</li>
            <li><b>Javascript, TypeScript, Angular, Stencil, jQuery</b> Collaborated with Colleagues and some hobby
              projects</li>
            <li><b>Python, Bash, Go</b> Used for scripting</li>
            <li><b>C, C++</b> basic knowledge</li>
            <li><b>Gitlab CI/CD, Jenkins, Github workflows</b> Setup and further development of pipelines</li>
            <li><b>MySQL, MSSQL</b> Used in enterprise applications</li>
            <li><b>Docker, Docker-compose, Docker Swarm</b> Dockerized applications and hosted them swarm or compose
              stacks</li>
            <li><b>UML</b> Able to create UML models and read them</li>
            <li><b>ELK</b> Basic understanding how ELK works and creating dashboards in Kibana</li>
          </ul>
        </div>

        <div class="resume-item">
          <h2 class="resume-heading">Languages</h2>
          <hr>
          <ul>
            <li><b>Dutch</b> is my mother tongue</li>
            <li><b>English</b> I can speak and write fluently</li>
            <li><b>Chinese(mandarin)</b> honestly I only speak a little bit and can read even less</li>
          </ul>
        </div>

        <div class="resume-item">
          <h2 class="resume-heading">Interests</h2>
          <hr>
          <p>After a day of work I enjoy playing games like Overwatch, Apex Legends or League of Legends. During
            weekends I enjoy having board game nights or going to bars.</p>
          <p>I would love to learn more about Kubernetes, Front-end development and pentesting. During my free time I
            often browse Reddit, Youtube or listen to Podcast to learn more about these and other technical subjects</p>
        </div>
      </div>
    </div>
  </div>
</div>
