.main-container {
    box-sizing: border-box;
    display: block;
    color: #343a40;
    padding-right: 8px;
    padding-left: 15px;
    font-size: 13pt;
    font-family: Inter, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.primary-color {
    color: #ff0e0e;
}

ul {
    padding-inline-start: 20px;
}

#contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 150%;
    margin-top: auto;
    margin-bottom: auto;
}

.contact-item {
    white-space: nowrap;
    display: inline-block;
    margin-right: 10px;
}

.icon {
    height: 0.8em;
    width: 0.8em;
    display: inline;
    margin-right: 3px;
}

.icon#location {
    margin-right: -3px;
}

.resume-heading-hr {
    position: relative;
    border: none;
    color: black;
    border-top: solid 6px;
    margin-top: 0px;
}

#resume-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -10px;
}

#resume-col-left {
    width: 55%;
    min-width: 390px;
    margin-right: 20px;
}

#resume-col-right {
    width: 40%;
    min-width: 300px;
}

.resume-heading {
    color: black;
    margin-bottom: 0px;
}

h1 {
    margin-bottom: 0px;
    color: black;
}

.subheading {
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color: #3160d6;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-picture {
    display: inline-block;
    width: 143px;
    height: 143px;
    border-radius: 50%;
}

#header-txt {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 770px) {
    #resume-col-left {
        margin-right: 0px;
        width: 100%;
        min-width: 0px;
    }

    #resume-col-right {
        width: 100%;
        min-width: 0px;
    }
}

@media not print {
    .print-only {
        display: none;
    }
}

@media only print {
    .print-hidden {
        display: none;
    }

    .main-container {
        font-size: 10.5pt;
        padding-right: 0px;
        padding-left: 0px;
    }

    .container {
        max-width: 100%;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: #343a40;
    }

    #header-picture {
        height: 115px;
        width: 115px;
    }

    .resume-heading-hr {
        border-top: solid 3px;
    }

    #resume-col-left {
        margin-right: 10px;
        min-width: 0px;
    }

    #resume-col-right {
        min-width: 0px;
    }
}
