<h1>Jor Sanders</h1>

<h2>Web Developer</h2>
<ul>
  <li>me@jor.dev</li>
  <li>06-22725596</li>
  <li>Amsterdam, Noord Holland</li>
  <li>jor.dev</li>
  <li>LinkedIn</li>
  <li>Github</li>
</ul>

<img alt="photo" />

<h2>Personal Summary</h2>
<p>Lorem ipsum dolor sit amet</p>

<h2>Experience</h2>
<ul>
  <li>Capgemini</li>
  <li>Perfect Web Team</li>
  <li>The Valley</li>
  <li>Cinnovate</li>
</ul>

<h2>Education</h2>
<p></p>

<h2>Skills</h2>
<ul>
  <li><b>Java, Spring Boot</b> Developed enterprise Applications</li>
  <li><b>Ruby, Rails</b> Developed enterprise Applications</li>
  <li><b>Php, Laravel, Joomla!</b> Developed enterprise Applications</li>
  <li><b>C#, .NET Core, Umbraco</b> Developed enterprise Applications</li>
  <li><b>Javascript, TypeScript, Angular, Stencil, jQuery</b> Collaborated with Frontend Colleagues</li>
  <li><b>Python, Bash, Go</b> Used for scripting</li>
  <li><b>Gitlab CI/CD, Jenkins, Github workflows</b> Setup and further developing pipelines</li>
</ul>

<h2>Languages</h2>
<ul>
  <li>Dutch</li>
  <li>English</li>
  <li>Chinese(mandarin)</li>
</ul>

<h2>Interests</h2>
<p></p>

<router-outlet></router-outlet>
