@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

:root {
  font-family: "Montserrat";

  color-scheme: light;
  color: rgb(20, 20, 20);
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style-type: "";
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Montserrat";
}

#root {
  min-height: 100%;
  display: grid;
  place-items: start center;
  padding: 2rem 1rem;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    background: none;
  }

  #root {
    padding: 0;
    display: block;
    min-height: auto;
  }

  a {
    text-decoration: none;
  }
}
